* {
  outline-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.all__btn {
  background-color: #ffb300;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04);
  border: none;
  color: white;
}
.header {
  min-height: 700px;
  padding: 20px 16.2% 0;
  background-image: url(../img_2/header__background.png);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 1s;
}
.header__item-1 {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__item-1 .header__logo {
  height: 70px;
  flex: 1;
}
.header__item-1__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 3;
}
.header__item-1__wrap .header__item-1__number {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__item-1__wrap .header__item-1__number p {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
.header__item-1__wrap .header__item-1__btn {
  margin: 0 0 0 30px;
  font-size: 12px;
  width: 225px;
  height: 50px;
}
.header__item-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 530px;
  margin: 80px 0 0;
}
.header__item-2__wrap-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__item-2__wrap-1 h1 {
  text-transform: uppercase;
  margin: 0 0 50px;
  font-size: 40px;
  font-weight: bold;
}
.header__item-2__wrap-1 .header__item-2__text {
  font-size: 24px;
  margin-bottom: 50px;
}
.header__item-2__wrap-1 .header__price {
  background-color: #49bf15;
  color: white;
  width: 225px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__item-2__wrap-1 .header__price p {
  font-size: 18px;
}
.header__item-2__wrap-1 .header__price p b {
  font-size: 22px;
}
.header__item-2__wrap-1 h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 58px;
}
.header__item-2__wrap-2 {
  background: gray;
  height: 100%;
}
.header__item-2__wrap-2 .header__item-2__form {
  background: green;
  text-align: center;
  width: 355px;
  height: 410px;
  padding: 45px 50px;
}
.header__item-2__wrap-2 .header__item-2__form p {
  font-size: 18px;
}
.header__item-2__wrap-2 .header__item-2__form input {
  width: 255px;
  height: 55px;
  border-radius: ;
}
.header__item-2__wrap-2 .header__item-2__form input:first-of-type {
  margin: 40px 0 25px;
}
.header__item-2__wrap-2 .header__item-2__form .header__item-2__btn {
  width: 255px;
  height: 55px;
}
@media (max-width: 1200px) {
  .header {
    padding: 20px 10px 0;
  }
}
